
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 text-center my-5">
            <h4>I think this is all that I'm gonna do for today! I think this is a great base and example of the includes functionality!</h4>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <a href="https://jinja.palletsprojects.com/en/2.11.x/templates/?highlight=include#include" class="btn btn-outline-secondary">Here's a link to all of the Jinja template stuff!</a>
        </div>
    </div>
</div>
</body>
</html>