<!-- I'm going to take advantage of the templating functionality that Flask has -->
<!-- I'm going to use includes -->
{% include 'header.html' %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 text-center my-5">
            <h1>This is the 404 Page!</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <h2>Wait! D: You're not supposed to be here...</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center">
            <a href="/" class="btn btn-outline-secondary">Let's get you back to one of our actual pages!</a>
        </div>
    </div>
</div>

{% include 'footer.html' %}