<!-- This is going to pull in the header.html file and put it in the portion of include -->
<!-- I'm doing this so that I don't have to rewrite the nav that i'm going to include in every page. -->
{% include 'header.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 my-5">
            <h1>This is the start to the index page!</h1>
        </div>
    </div>
</div>
<!-- This is going to pull in the footer.html file and put it in the portion of include -->
{% include 'footer.html' %}