<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Noah</title>
</head>

{% extends 'base.html' %}

{% block content %}
<h3>About Noah</h3>

<p>Hi, I'm Noah, and I'm a Sophomore at Marist College.</p>
<p>Usually, most of my time is absorbed by schoolwork because I took 17 credits in the fall. If I'm not doing school I'm probably doing one of the following:</p>
<ul><li>Video Creation</li></ul>
<ul><li>Full-Time Job</li></ul>
<ul><li>Running/Working Out</li></ul>

<h5>Video Creation</h5>
<p>For the past 2 years, I have channeled my love for filmmaking and video creation into my own YouTube channel.</p>
<p>It's been something that I have been able to make a small passive income from, but I enjoy doing it far beyond the money.</p>
<p>It's been a great outlet for me to express myself creatively and be able to grow an audience from it.</p>
<p>Hopefully now that the semester is over I can start to put more time into the channel.</p>

<h5>Full-Time Job</h5>
<p>My full-time job also revolves around YouTube. I'm the Head of Communications for a college content creator with over 125K subscribers.</p>
<p>I started out as an intern for him back in April 2020, and I was able to climb my way up into the Head of Communcations.</p>
<p>With my new position, I am in charge of all communications with brands, whether it's negotiating brand deals, time frames, sending deliverables, or sending invoices.</p>
<p>I love this job becuase it gives me insight into the YouTube business that I wouldn't be able to experience on my own.</p>

<h5>Running/Working Out</h5>
<p>I used to be a really competitive runner. In fact, I got recruited for XC/T&F at my old institution.</p>
<p>Once I became a college athlete, I realized that it wasn't for me, and it took the fun and passion that I once had for running.</p>
<p>So now that I don't run anymore, I'm beginning to make more of an effort to go to the gym. There's no excuse now for not being able to gain some weight and put on some muscle!</p>
{% endblock %}
</html>