<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personality</title>
</head>

{% extends 'base.html' %}

{% block content %}
<h3>My Personality...?</h3>
<p>Don't really think this is enough to dedicate an entire webpage to but... fuck it! We'll work with it.</p>

<h5>Independent</h5>
<p>For the longest time now, I have aways been super independent. I just love being alone and having all the decisions rest on my shoulders.</p>
<p>I love being able to dorm because I don't have my parents in my hair telling me what I can/can't do. It's all up to me. If I wanna do something on a whim, I can just go and do it.</p>
<p>If I have a business idea, I usually don't talk about it with my parents before committing to it. I'll just decide to tell them once it's already up and rolling.</p>

<h5>Self-Motivated</h5>
<p>Stemming off of being Independent would be the fact that I'm very self-motivated and self-driven</p>
<p>I don't need any outside force or person telling me what to do or giving me pressure. I can instill all of that on my own.</p>
<p>I know what I need to do to be successful and will act accordingly in order to do so. In fact, pressure from others would make me NOT want to do something.</p>

<h5>Entrepreneurial</h5>
<p>I have always had a thing for finding unique ways to make money by starting your own businesses.</p>
<p>It started in Junior year of HS where I decided to sell my old clothes online. I started to learn more about "Retail Arbitrage" and "Flipping" and decided to start buying/reselling clothes from thrift stores.</p>
<p>It was a pretty consistent business that carried me through freshman year of college.</p>
<p>While I haven't been able to start another small business like this sense, I'm always on the search for how to make money online, from the comfort of my home.</p>
{% endblock %}
</html>